:root {
	/* FONTS */
	--font-sys: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-recursive: 'Recursive Variable', var(--font-sys);
	--font-roboto: 'Roboto Flex Variable', var(--font-sys);
	--font-work-sans: 'Work Sans Variable', var(--font-sys);

	/* COLORS */
	--clr-white: 0 0% 100%;
	--clr-black: 0 0% 0%;
	/* Neutral Palette */
	--clr-neutral-50: 0 0% 95%;
	--clr-neutral-100: 0 0% 90%;
	--clr-neutral-200: 0 0% 80%;
	--clr-neutral-300: 0 0% 70%;
	--clr-neutral-400: 0 0% 60%;
	--clr-neutral-500: 0 0% 50%;
	--clr-neutral-600: 0 0% 40%;
	--clr-neutral-700: 0 0% 30%;
	--clr-neutral-800: 0 0% 20%;
	--clr-neutral-900: 0 0% 10%;
	--clr-neutral-950: 0 0% 5%;
	/* Primary Palette (Blu) */
	--clr-primary-50: 219, 92%, 95%;
	--clr-primary-100: 219, 92%, 90%;
	--clr-primary-200: 219, 94%, 80%;
	--clr-primary-300: 219, 94%, 69%;
	--clr-primary-400: 219, 94%, 59%;
	--clr-primary-500: 219, 98%, 49%;
	--clr-primary-600: 219, 98%, 39%;
	--clr-primary-700: 219, 99%, 29%;
	--clr-primary-800: 219, 98%, 20%;
	--clr-primary-900: 219, 100%, 10%;
	--clr-primary-950: 219, 100%, 5%;
}

*,
*::before,
*::after {
	/* font-feature-settings:
		'MONO' var(--mono, 1),
		'CASL' var(--casual, 0); */
	line-height: 1.5;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	transition: all 200ms ease-out;

	&::selection {
		color: hsl(var(--clr-white));
		background: hsl(var(--clr-primary-500));
	}

	&:not(:defined) {
		opacity: 0;
		visibility: hidden;
	}
}

body {
	font-family: var(--font-work-sans);
	font-size: 16px;
	font-feature-settings: "liga", "kern";
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-display: swap;
	color: hsl(var(--clr-neutral-800));
	background: hsl(var(--clr-white));
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small {
	overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 1000;
	font-stretch: 125%;
}

p {
	font-weight: 400;
}

small {
	font-weight: 500;
}

span {
	font: inherit;
}

.h-display {
	font-size: 72px;
	line-height: 1;

	@media screen and (min-width: 480px) {
		font-size: 96px;
	}

	@media screen and (min-width: 1200px) {
		font-size: 7vw;
	}
}

.h-xl {
	font-size: 72px;
	line-height: 1;
}

.h-lg {
	font-size: 60px;
	line-height: 1;
}

.h-md {
	font-size: 48px;
	line-height: 1;
}

.h-sm {
	font-size: 36px;
	line-height: 1.2;
}

.h-xs {
	font-size: 24px;
	line-height: 1.2;
}

.h1 {
	font-size: 60px;
	line-height: 1;
}

.h2 {
	font-size: 48px;
	line-height: 1;
}

.h3 {
	font-size: 40px;
	line-height: 1.2;
}

.h4 {
	font-size: 36px;
	line-height: 1.2;
}

.h5 {
	font-size: 30px;
	line-height: 1.5;
}

.h6 {
	font-size: 24px;
	line-height: 1.5;
}

.p {
	font-size: 16px;
	line-height: 1.5;
}

.small {
	font-size: 12px;
	line-height: 1.5;
}

.nav-link {
	font-weight: 600;
	text-decoration: none;
	color: hsl(var(--clr-neutral-600));
	min-width: max-content;
	padding-inline: 4px;
	outline: 2px dashed transparent;

	&:is(:hover, :focus) {
		color: hsl(var(--clr-neutral-950));
	}

	&:focus-visible {
		outline-color: hsl(var(--clr-primary-500));
	}
}

.nav-link.current-page {
	color: hsl(var(--clr-primary-500));

	&:is(:hover, :focus) {
		color: hsl(var(--clr-primary-500));
	}
}

.btn {
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	text-decoration: none;
	min-width: max-content;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 4px;
	padding-block: var(--pad-y, 4px);
	padding-inline: var(--pad-x, 12px);
	border: 1px solid transparent;
	border-radius: 9999px;
	background: transparent;
	outline: 2px solid transparent;
	outline-offset: 2px;
	cursor: default;
	user-select: none;
	-webkit-tap-highlight-color: none;

	&:focus-visible {
		outline-color: hsl(var(--clr-black));
	}
}

.btn.btn-default {
	color: hsl(var(--clr-white));
	background-color: hsl(var(--clr-neutral-950));

	&:is(:hover, :focus) {
		background-color: hsl(var(--clr-neutral-800));
	}
}

.btn.btn-inverse {
	color: hsl(var(--clr-800));
	background-color: hsl(var(--clr-white));

	&:is(:hover, :focus) {
		color: hsl(var(--clr-neutral-950));
		background-color: hsl(var(--clr-neutral-200));
	}
}

.btn.btn-primary {
	color: hsl(var(--clr-white));
	background-color: hsl(var(--clr-primary-500));

	&:is(:hover, :focus) {
		background-color: hsl(var(--clr-primary-700));
	}
}

.btn.btn-outlined {
	color: hsl(var(--clr-neutral-800));
	border-color: hsl(var(--clr-neutral-200));

	&:is(:hover, :focus) {
		background-color: hsl(var(--clr-neutral-200));
		border-color: hsl(var(--clr-neutral-300));
	}
}

.btn.btn-ghost {
	color: hsl(var(--clr-neutral-800));

	&:is(:hover, :focus) {
		background-color: hsl(var(--clr-neutral-200));
	}
}

.input {
	appearance: none;
	font-weight: 500;
	color: hsl(var(--clr-neutral-950));
	width: 100%;
	max-width: 600px;
	padding-block: 12px;
	padding-inline: 24px;
	border: none;
	border-radius: 9999px;
	background: hsl(var(--clr-neutral-200));
	outline: 2px solid transparent;

	&:focus-visible {
		outline-color: hsl(var(--clr-black));
	}

	&::placeholder {
		color: hsl(var(--clr-neutral-600));
	}
}

.sr-only {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	clip-path: rect(0, 0, 0, 0);
}